@import 'reset';
@import 'base';
@import 'paletter';
@import 'components/btn/index';


.row {
    display: flex;
    align-items: flex-end;
    margin-top: 50px;
    justify-content: center;

    .btn {
        margin-right: 30px;

        &:last-child {
            margin-right: 0px;
        }
    }
}



