@import'size';

.btn {
    background-color: $color-1;
    color: $color-9;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'lato';
    font-weight: 900;
    @include size(14px, 11px, 37px, 10.8px, 37.1px);
    font-size: 14px;
    line-height: 24px;
    padding: 8px 37px;
    border: none;
    cursor: pointer;
    &.medium {
        font-size: 18px;
        padding: 13px 47px;
        @include size(18px, 14px, 46px, 14px, 46px);
    }
    &.large {
        @include size(26px, 23px, 92px, 23px, 94px);
    }
    &.x-large {
        @include size(36px, 27px,102px, 27px, 103px);
    }
    &.round {
        $rounds:(3, 7, 12, 20);

        @each $round in $rounds {
            &-#{$round}{
                border-radius: $round +px;
            }
        }
    }
    
    &.bg-color {
        &-1 {
            background-color: $color-1;
        }
        &-2 {
            background-color: $color-2;
        }
        &-3 {
            background-color: $color-3;
        }
        &-4 {
            background-color: $color-4;
        }
        &-5 {
            background-color: $color-5;
        }
        &-6 {
            background-color: $color-6;
        }
        &-7 {
            background-color: $color-7;
        }
        &-8 {
            background-color: $color-8;
        }
    }
    &:hover {
        background-color: $color-10;
    }
}